body {
  /* background: linear-gradient(to right, #e0082d, #fff991); */
}
.wrapper {
  margin: 0px auto 0px auto;
  display: block;
  width: 350px;
}
#container {
  width: 120px;
  background-color: black;
  background: linear-gradient(to bottom right, black, #606060);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -3px -3px 1px 1px black;
  border-left: solid 2px #606060;
  border-top: solid 2px #606060;
  float: left;
}
#connector {
  width: 20px;
  height: 20px;
  margin-top: 50px;
  background-color: black;
  background: linear-gradient(to bottom right, black, #606060);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -3px -3px 1px 1px black;
  border-top: solid 2px #606060;
  float: left;
}
#side {
  width: 180px;
  height: 200px;
  background-color: black;
  background: linear-gradient(to bottom right, black, #606060);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -3px -3px 1px 1px black;
  border-left: solid 2px #606060;
  border-top: solid 2px #606060;
  float: left;
}
#counter {
  font-family: 'Wallpoet', cursive;
  color: red;
  text-align: center;
  line-height: 170px;
  font-size: 50px;
  text-shadow: -3px -3px 0 brown;
}
#stick {
  width: 20px;
  margin-left: 45px;
  height: 100px;
  background-color: black;
  background: linear-gradient(to bottom right, black, #606060);
  border-radius: 5px;
  box-shadow: -1px -1px 1px 1px black;
  border-left: solid 2px #606060;
  border-top: solid 2px #606060;
}

.box {
  width: 100px;
  margin-bottom: 5px;
  height: 100px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -3px 10px dimgray;
  position: relative;
  z-index: 1;
  transition: 0.7s;
  opacity: 0.5;
}

.box.active {
  opacity: 1;
}

.overlay {
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  /* box-shadow: -10px -10px 5px 1px black; */
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
}
.glare {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 20px 10px white;
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  opacity: 0.4;
}

#red {
  background-color: red;
  background: linear-gradient(to bottom right, rgb(207, 4, 4), red);
}

#yellow {
  background-color: yellow;
  background: linear-gradient(
    to bottom right,
    rgb(214, 214, 1),
    rgb(255, 255, 0)
  );
}

#green {
  background-color: rgb(72, 252, 72);
  background: linear-gradient(
    to bottom right,
    rgb(0, 216, 0),
    rgb(72, 252, 72)
  );
}

#buts {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
}

button {
  background: none;
  border: 2px solid black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin: 10px;
  background: linear-gradient(to bottom left, #aaa, #eee);
  transition: 400ms;
}

button:hover {
  border: 2px solid transparent;
  color: white;
  background: linear-gradient(to bottom left, black, #606060);
}

#butReset {
  display: none;
}

.fa {
  color: yellow;
  animation: spinner 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
