body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", "Georgia", serif;
  background: linear-gradient(to bottom, #1a1a1a, #3a3a3a);
  color: #f0e6d2;
}


div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


h1 {
  font-size: 2rem;
  color: #f0c674;
  margin-bottom: 20px;
  text-shadow: 2px 2px #222;
}

ul {
  list-style: none;
  padding: 0;
  width: 300px;
}

li {
  background: #2b2b2b;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px #000;
}


button {
  background-color: #5c3a21;
  color: #f0e6d2;
  border: none;
  padding: 6px 12px;
  margin-left: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #8b5e3c;
  transform: scale(1.05);
}


input[type="text"],
input[type="file"] {
  padding: 8px 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #8b5e3c;
  width: 350px;
  background-color: #3a3a3a;
  color: #f0e6d2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

::placeholder {
  color: #ccc2a6;
}

form button {
  margin-top: 10px;
  width: 150px;
}

input, button {
  box-shadow: 1px 1px 3px #000;
}
